.row
  .col-md-9.col-xs-9
    %dl.dl-horizontal
      %dt 名称
      %dd= @product.title
      %dt 描述
      %dd= @product.description
      %dt 图片URL
      %dd= @product.image_url
      %dt 价格
      %dd= @product.price

    = link_to '编辑', edit_product_path(@product)

    = link_to '返回', products_path