- if notice
  %p#notice
    = notice


%h1 Your Pragmatic Catalog

- @products.each do |product|
  .row
    .col-xs-9.col-md-6
      %p= product.title
      = product_img_tag(product, :style => "large")
    .col-xs-6.col-md-3
      %span.price= number_to_currency(product.price)
      = button_to '加入购物车', line_items_path(product_id: product), remote: true, class: 'btn btn-primary'

= will_paginate @products