%html
  %head
    %title WsShop
    = stylesheet_link_tag      'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag   'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body#store
    .row
      .col-xs-12
        #banner
          = image_tag("logo.jpg", class: 'img-responsive')
          = @page_title || "Pragmatic Bookshelf"
    .row
      .col-xs-2
        - if @cart == nil
          #cart.hidden
        - else
          #cart
            = render(@cart)
        %a{:href => "/"} Home
        %br
        %a{:href => "/faq"} Questions
        %br
        %a{:href => "/news"} News
        %br
        %a{:href => "/contact"} Contact
      .col-xs-10
        = yield
